html
	head
		title Herald Gutierrez - Cards
		link(rel='stylesheet' type='text/css' href='css/card-flip-one.css')
		link(rel='stylesheet' type='text/css' href='css/cards.css')
		script(src='js/jquery-2.0.3.min.js')
		script(src='js/card-flip-one.js')


	body
		div#card.flip-container
			div.flipper
				div.front
					div.card
						div.card-ace.diamond
							div.corner.top
								span.number A
								span &diams;
							span.suit.middle_center &diams;
							div.corner.bottom
								span.number A
								span &diams;
				div.back
					div.card
						div.card-back.back
							img(src='img/back.png')

		br
		br
		br
		br
		div#cardA
		div#card1