html
	head
		meta(name='author' content='Herald Gutierrez')
		meta(name='description' content='Card matching memory style game')
		meta(name='keywords' content='HTML, CSS, JavaScript, jQuery, NodeJS, Jade, Socket.io')
		title Herald Gutierrez - Cards: Match Pairs

		link(rel='stylesheet' type='text/css' href='css/cards.css')
		link(rel='stylesheet' type='text/css' href='css/index.css')

		script(src='js/jquery-2.0.3.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='js/match_pairs.js')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-47823083-1', 'heraldgutierrez.com');
			ga('send', 'pageview');

	body
		div#information
			button#newGame New Game
			div.info
				span Number of Flips :  
				span#numFlips 0
			div.info
				span Multiplier :  
				span#multiplier 1
			div.info
				span Score :  
				span#score 0
			
		div#container