html
	head
		title Herald Gutierrez - Pair Matching
		link(rel='stylesheet' type='text/css' href='css/cards.css')
		link(rel='stylesheet' type='text/css' href='css/index.css')

		script(src='js/jquery-2.0.3.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='js/match_pairs.js')

	body
		div#information
			button#newGame New Game
			div.info
				span Number of Flips :  
				span#numFlips 0
			div.info
				span Multiplier :  
				span#multiplier 1
			div.info
				span Score :  
				span#score 0
			
		div#container