html
	head
		title Herald Gutierrez - Cards
		link(rel='stylesheet' type='text/css' href='css/cards.css')
		script(src='js/jquery-2.0.3.min.js')
		script(src='js/create_cards.js')

		//-link(rel='stylesheet' type='text/css' href='css/flip.css')
		//- script(src='js/create_cards.js')
		script(src='js/flip.js')
		script(src='/socket.io/socket.io.js')

	body
		div#card.flip-container
			div.flipper
				div.front.card
					div.card-ace.diamond
						div.corner.top
							span.number A
							span &diams;
						span.suit.middle_center &diams;
						div.corner.bottom
							span.number A
							span &diams;
				div.back
					div.card
						div.card-back.back
							img(src='img/back.png')
		div.card
			div.card-back.back
				img(src='img/back.png')
		br
		br
		br
		div#container
