html
	head
		title Herald Gutierrez - Cards
		link(rel='stylesheet' type='text/css' href='css/cards.css')
		link(rel='stylesheet' type='text/css' href='css/test-two.css')
		script(src='js/jquery-2.0.3.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='js/test-two.js')

	body
		div#container